html {
  scroll-behavior: smooth;
  transition-duration: 3s;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 30px;
}

.hidden-in-main {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .footer-container {
    width: 335px;
    padding: 20px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50px;
  }

  .footer-container {
    /* Visual */
    border-radius: 30px;
    padding: unset;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1408px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50px;
  }
}
