html {
    scroll-behavior: smooth;
    transition-duration: 3s;
}

.container {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        margin: 0 auto;
        border-radius: 30px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1120px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1280px;
        border-radius: 50px;
    }
}