.fav-box {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 272px;
  border-radius: 30px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 96px;
}
.fav-text-title {
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  line-height: 1.29;
}
.fav-svg {
  stroke: #1b1b1b;
}
.fav-title {
  margin-top: 16px;
}
.fav-svg-title {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}
.fav-img {
  margin: 0 auto;
  width: 335px;
  height: 272px;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .fav-img {
    width: 368px;
    height: 302px;
    border-radius: 50px;
    margin: 0;
  }
  .fav-box {
    width: 368px;
    height: 302px;
    margin: 0;
    border-radius: 50px;
  }
  .fav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
  }
}

@media screen and (min-width: 1440px) {
  .fav-desktop-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fav-img {
    width: 352px;
    margin-left: 0;
    margin-right: 0;
  }
  .fav-quote {
    height: 302px;
    margin-left: 0;
    margin-right: 0;
  }
  .fav-container {
    margin-left: 0;
    margin-right: 0;
  }
  .fav-box {
    width: 352px;
  }
}
