.favorites {
background-color:rgba(232, 232, 232, 1);
}

.list {
    background-color: rgba(255, 255, 255, 1);
    padding: 16px;
    width: 295px;
    height: 165px;
}

.favorites-title {
    margin-bottom: 20px;
    color: rgba(27, 27, 27, 1);
    font-family: 'DM sans';
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
}
.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list-item{
display: flex;
}

.workout{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 76px;
    height: 26px;
    background-color:rgba(126, 132, 127, 1);
    color: aliceblue;
    border-radius: 15px;
}

.bike {
    margin-top: 25px;
}

.favorites-exercises-name {
    color: rgba(27, 27, 27, 1);
    font-family: 'DM sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.char-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    column-gap: 16px;
}

.char-item {
    font-size: 12px;
}

.favorites-pages-counter {
    display: flex;
    gap: 8px;
    width: 92px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .favorites-number-button {
    color: rgba(27, 27, 27, 0.4);
    font-family: 'DM Sans';
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.8px;
    border: none;
    background-color: transparent;
  }
  
  .favorites-number-button:hover,
  .favorites-number-button:focus {
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 18px;
    color: #1b1b1b;
    border: 1px solid #1b1b1b;
  }