.favorites {
background-color:rgba(232, 232, 232, 1);
}

.list {
    background-color: rgba(255, 255, 255, 1);
    padding: 16px;
}

.topic {
    margin-top: 40px;
    margin-bottom: 20px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
}
.workout{
    display: flex;
    width: 76px;
    height: 26px;
    background-color:rgba(126, 132, 127, 1);
    color: aliceblue;
    border-radius: 15px;
}