.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.pop-up-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
}
.pop-up-close-btn-icon {
  stroke: rgba(27, 27, 27, 1);
  width: 24px;
  height: 24px;
}
.pop-up-title-rating {
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
  color: rgba(27, 27, 27, 0.4);
}

.pop-up-stars-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 20px;
}
.pop-up-star-icon {
  fill: rgba(27, 27, 27, 0.2);
  width: 24px;
  height: 24px;
}
/* <------------ exercises styles - -----------> */

.pop-ex-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary-text-color);
  border-radius: 20px;
  height: auto;
  pointer-events: none;
}

.pop-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 99999999999999; */
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.pop-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-ex-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  pointer-events: auto;
}

.pop-ex-close-btn-icon {
  stroke: var(--main-text-color);
  width: 24px;
  height: 24px;
}

.img-ex {
  border-radius: 12px;
}

.pop-exercise-name {
  font-weight: 500;
}

.pop-ex-stars-list {
  display: flex;
  align-items: center;
  gap: 2px;
}

li:not(:last-child) .pop-ex-rate-icon use {
  fill: #eea10c;
}

li:last-child .pop-ex-rate-icon use {
  fill: rgba(27, 27, 27, 0.2);
}

.decorate-elem {
  border: none;
  height: 1px;
  stroke-width: 1px;
  background-color: rgba(27, 27, 27, 0.2);
  margin: 10px 0;
}

.pop-ex-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.value {
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
  color: rgba(27, 27, 27, 0.4);
  margin-bottom: 4px;
}

.label {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
}

.pop-desc-exercise {
  margin-bottom: 30px;
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.pop-btns-container {
  display: flex;
  justify-content: center;
}

.pop-add-fav {
  border-radius: 30px;
  background-color: var(--dark-grey);
  border: none;
  font-weight: 400;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: auto;
}

.pop-add-fav:hover,
.pop-add-fav:focus {
  background-color: #5f6560;
}

.pop-rating-btn {
  pointer-events: auto;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #1b1b1b;
  color: var(--main-text-color);
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-rating-btn:hover,
.pop-rating-btn:focus {
  border: 1px solid #7e847f;
  color: var(--dark-grey);
}

.heart-icon {
  stroke: var(--secondary-text-color);
  fill: transparent;
  margin-left: 6px;
}

/* Favorites */
.favorite-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.pop-ex-rate-icon {
  fill: #eea10c;
}

@media screen and (max-width: 767px) {
  .pop-ex-modal {
    min-width: 335px;
    height: auto;
    padding: 14px;
  }

  .pop-ex-close-btn {
    margin-bottom: 2px;
  }

  .pop-exercise-name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1;
  }

  .pop-exercises-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
    margin-bottom: 20px;
  }

  .pop-ex-info {
    margin-bottom: 10px;
  }

  .pop-add-fav {
    padding-left: 83px;
    padding-right: 83px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    line-height: 1.28;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .img-ex {
    width: 295px;
    height: 258px;
  }
}

@media screen and (min-width: 768px) {
  .pop-ex-modal {
    min-width: 716px;
    height: auto;
    display: flex;
    padding-right: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .pop-ex-close-btn {
    top: 16px;
    right: 16px;
  }

  .pop-exercises-img {
    margin-right: 24px;
    width: 270px;
    height: 259px;
  }

  .pop-exercise-name {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.3;
  }

  .pop-ex-info {
    margin-bottom: 8px;
  }

  .pop-ex-content-container {
    flex: 1;
  }

  .pop-add-fav,
  .pop-rating-btn {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
  }

  .heart-icon {
    margin-left: 8px;
  }
}

@media screen and (min-width: 1158px) {
  .pop-ex-modal {
    width: 732px;
  }

  .pop-exercises-img {
    margin-right: 40px;
  }
}
