
.quote-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.quote-of-the-container {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote-box-text {
    position: relative;
    width: 335px;
        min-height: 272px;
        border-radius: 30px;
            background-color: #7E847F;
            padding: 40px 20px 40px 20px;
margin: 0 auto;
}

.quote-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-bottom: 12px;
}

.quote-inverted-commas-svg {
    position: absolute;
    top: 40px;
    right: 20px;
    fill: #F6F6F6;
}

.quote-img {
    margin: 0 auto;
    width: 335px;
        height: 272px;
        border-radius: 30px;
            background: url(<path-to-image>), lightgray -84.669px -221.268px / 153.069% 251.363% no-repeat, #E8E8E8;
}

.quote-title {
    color: #F6F6F6;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "DM Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
}

.quote-text {
    color: rgba(246, 246, 246, 0.60);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 14px;
}

.quote-author {
    color: #F6F6F6;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
}

.quote-text, .quote-author {
    padding-left: 46px;
}

@media screen and (min-width: 768px) {
    .quote-section {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .quote-box-text {
            width: 736px;
            min-height: 302px;
            border-radius: 50px;
            padding: 64px 80px 64px 80px;
            margin: 0 auto;
            padding-bottom: 16px;
    }

        .quote-box {
            gap: 16px;
        }

                .quote-inverted-commas-svg {
                    top: 32px;
                    right: 80px;
                }

                .quote-img {
                    border-radius: 50px;
                    width: 736px;
                        height: 302px;
                }

                                .quote-text {
                                    padding-bottom: 25px;
                                }

.quote-text, .quote-author {
    padding-left: 50px;
}
}

@media screen and (min-width: 1440px) {
.quote-of-the-container {
        flex-direction: row;
    }

        .quote-box-text {
        width: 704px;
        }
    
    .quote-box {
        gap: 18px;
    }

                .quote-inverted-commas-svg {
                    right: 64px;
                }

        .quote-img {
            width: 704px;
                height: 302px;
        }
}
