<section class="110min-section">
  <div class="container 110min-container">
    <img
      class="110min-img"
      srcset="
        ./img/110/110min-desktop@2x.jpg 1408w,
        ./img/110/110min-desktop.jpg     704w,
        ./img/110/110min-tablet@2x.jpg  1472w,
        ./img/110/110min-tablet.jpg      736w,
        ./img/110/110min-mobile@2x.jpg   670w,
        ./img/110/110min-mobile.jpg      335w
      "
      src="./img/110/110min-mobile.jpg"
      sizes="(min-width:
    1440px) 704px, (min-width: 768px) 736px, (max-width: 375px) 335px"
      alt="sport girl"
    />
    <div class="110min-box">
      <div class="110min-svg">
        <svg width="20" height="20">
          <use class="dumbell-svg" href="/src/img/icons.svg#icon-dumbell"></use>
        </svg>
      </div>

      <div class="110min-title-box">
        <h2 class="110min-title">110 min</h2>
        <p class="110min-text">Daily norm of sports</p>
      </div>
      <p class="110min-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>
