<section class="min-section">
  <div class="container min-container">
    <img
      class="min-img"
      srcset="
        ./img/110/110min-desktop@2x.jpg 1408w,
        ./img/110/110min-desktop.jpg     704w,
        ./img/110/110min-tablet@2x.jpg  1472w,
        ./img/110/110min-tablet.jpg      736w,
        ./img/110/110min-mobile@2x.jpg   670w,
        ./img/110/110min-mobile.jpg      335w
      "
      src="./img/110/110min-mobile.jpg"
      sizes="(min-width:
    1440px) 704px, (min-width: 768px) 736px, (max-width: 375px) 335px"
      alt="sport girl"
    />
    <div class="min-box">
      <div class="min-svg-title">
        <div class="dumbell-svg-div">
          <svg width="20" height="20">
            <use class="dumbell-svg" href="./img/icons.svg#icon-dumbell"></use>
          </svg>
        </div>
        <h2 class="min-title">110 min</h2>
      </div>

      <div class="min-text-box">
        <p class="min-text-title">Daily norm of sports</p>

        <p class="min-text">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </div>
    </div>
  </div>
</section>
