<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnergyFlow</title>
    <link rel="stylesheet" href="../css/layout/exercises-filters.css" />
  </head>
  <body>
    <section class="exercise-section section">
      <div class="exercise-container container">
        <h2 class="exercise-title">Exercises</h2>
        <ul class="exercise-pages-list">
          <li class="exercise-page">
            <button class="exercise-button">Muscles</button>
          </li>
          <li class="exercise-page">
            <button class="exercise-button">Body parts</button>
          </li>
          <li class="exercise-page">
            <button class="exercise-button">Equipment</button>
          </li>
        </ul>
        <ul class="exercise-cards-list">
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
        </ul>
        <ul class="exercise-pages-counter">
          <li class="exercise-page-number">
            <button class="exercise-number-button">1</button>
          </li>
          <li class="exercise-page-number">
            <button class="exercise-number-button">2</button>
          </li>
          <li class="exercise-page-number">
            <button class="exercise-number-button">3</button>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
