<section class="exercise-section section visually-hidden">
  <div class="exercise-container">
    <h2 class="exercise-title">
      Exercises
      <span class="exercise-log-span">/</span>
      <span class="exercise-title-span"></span>
    </h2>
    <div class="exercise-tablet-container">
      <ul class="exercise-pages-list">
        <li class="exercise-page">
          <button class="exercise-button" id="Muscles">Muscles</button>
        </li>
        <li class="exercise-page">
          <button class="exercise-button">Body parts</button>
        </li>
        <li class="exercise-page">
          <button class="exercise-button">Equipment</button>
        </li>
      </ul>
      <form class="exercise-form">
        <input type="text" class="exercise-input" placeholder="Search" />
        <button class="exercise-input-button" type="submit" value="Submit">
          <svg class="exercise-btn-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <ul class="exercise-parts-list"></ul>
    <ul class="exercise-cards-list">
      <li id="biceps" class="exercise-card">
        <p class="exercise-card-title">Biceps</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="abductors" class="exercise-card">
        <p class="exercise-card-title">Abductors</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="abs" class="exercise-card">
        <p class="exercise-card-title">Abs</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="adductors" class="exercise-card">
        <p class="exercise-card-title">Adductors</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="calves" class="exercise-card">
        <p class="exercise-card-title">Calves</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="cardiovascular_system" class="exercise-card">
        <p class="exercise-card-title">Cardiovascular System</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="delts" class="exercise-card">
        <p class="exercise-card-title">Delts</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="forearms" class="exercise-card">
        <p class="exercise-card-title">Forearms</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="glutes" class="exercise-card">
        <p class="exercise-card-title">Glutes</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="hamstrings" class="exercise-card">
        <p class="exercise-card-title">Hamstrings</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="lats" class="exercise-card">
        <p class="exercise-card-title">Lats</p>
        <p class="exercise-category">Muscles</p>
      </li>
      <li id="levator_scapulae" class="exercise-card">
        <p class="exercise-card-title">Levator Scapulae</p>
        <p class="exercise-category">Muscles</p>
      </li>
    </ul>

    <ul class="exercise-pages-counter">
      <li class="exercise-page-number">
        <button id="1" class="exercise-number-button">1</button>
      </li>
      <li class="exercise-page-number">
        <button id="2" class="exercise-number-button">2</button>
      </li>
      <li class="exercise-page-number">
        <button id="3" class="exercise-number-button">3</button>
      </li>
    </ul>
  </div>
</section>
