<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnergyFlow</title>
    <link rel="stylesheet" href="../css/layout/exercises-filters.css" />
  </head>
  <body>
    <section class="exercise-section">
      <div class="exercise-container">
        <h2 class="exercise-title">Exercises</h2>
        <div class="exercise-tablet-container">
          <ul class="exercise-pages-list">
            <li class="exercise-page">
              <button class="exercise-button">Muscles</button>
            </li>
            <li class="exercise-page">
              <button class="exercise-button">Body parts</button>
            </li>
            <li class="exercise-page">
              <button class="exercise-button">Equipment</button>
            </li>
          </ul>
          <input type="text" class="exercise-input" placeholder="Search" />
        </div>
        <!-- <ul class="exercise-cards-list">
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
          <li class="exercise-card">
            <p class="exercise-card-title">Biceps</p>
            <p class="exercise-category">Muscles</p>
          </li>
        </ul> -->

        <ul class="exercise-parts-list">
          <li class="exercise-parts">
            <div class="part-container">
              <div class="exercise-head-container">
                <span class="exercise-badge">WORKOUT</span>
                <span class="exercise-part-rating">
                  <p class="exercise-rating-number">4.0</p>
                  <svg class="exercise-rating-icon" width="18" height="18">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </span>
                <button class="exercise-part-button">Start</button>
              </div>

              <!-- <svg class="exercise-btn-icon">
                <use href="../img/icons.svg#icon-arrow-right"></use>
              </svg> -->
              <span class="exercise-part-name">
                <svg class="exercise-part-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-running-man"></use>
                </svg>
                <p class="exercise-name-text">Air bike</p>
              </span>
              <ul class="exercise-describes-list">
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Burned calories:</p>
                  <p class="exercise-describing">312 / 3 min</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Body part:</p>
                  <p class="exercise-describing">Waist</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Target:</p>
                  <p class="exercise-describing">Abs</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="exercise-parts">
            <div class="part-container">
              <div class="exercise-head-container">
                <span class="exercise-badge">WORKOUT</span>
                <span class="exercise-part-rating">
                  <p class="exercise-rating-number">4.0</p>
                  <svg class="exercise-rating-icon" width="18" height="18">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </span>
                <button class="exercise-part-button">Start</button>
              </div>
              <!-- <svg class="exercise-btn-icon">
                <use href="../img/icons.svg#icon-arrow-right"></use>
              </svg> -->
              <span class="exercise-part-name">
                <svg class="exercise-part-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-running-man"></use>
                </svg>
                <p class="exercise-name-text">Air bike</p>
              </span>
              <ul class="exercise-describes-list">
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Burned calories:</p>
                  <p class="exercise-describing">312 / 3 min</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Body part:</p>
                  <p class="exercise-describing">Waist</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Target:</p>
                  <p class="exercise-describing">Abs</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="exercise-parts">
            <div class="part-container">
              <div class="exercise-head-container">
                <span class="exercise-badge">WORKOUT</span>
                <span class="exercise-part-rating">
                  <p class="exercise-rating-number">4.0</p>
                  <svg class="exercise-rating-icon" width="18" height="18">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </span>
                <button class="exercise-part-button">Start</button>
              </div>
              <!-- <svg class="exercise-btn-icon">
                <use href="../img/icons.svg#icon-arrow-right"></use>
              </svg> -->
              <span class="exercise-part-name">
                <svg class="exercise-part-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-running-man"></use>
                </svg>
                <p class="exercise-name-text">Air bike</p>
              </span>
              <ul class="exercise-describes-list">
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Burned calories:</p>
                  <p class="exercise-describing">312 / 3 min</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Body part:</p>
                  <p class="exercise-describing">Waist</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Target:</p>
                  <p class="exercise-describing">Abs</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="exercise-parts">
            <div class="part-container">
              <div class="exercise-head-container">
                <span class="exercise-badge">WORKOUT</span>
                <span class="exercise-part-rating">
                  <p class="exercise-rating-number">4.0</p>
                  <svg class="exercise-rating-icon" width="18" height="18">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </span>
                <button class="exercise-part-button">Start</button>
              </div>
              <!-- <svg class="exercise-btn-icon">
                <use href="../img/icons.svg#icon-arrow-right"></use>
              </svg> -->
              <span class="exercise-part-name">
                <svg class="exercise-part-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-running-man"></use>
                </svg>
                <p class="exercise-name-text">Air bike</p>
              </span>
              <ul class="exercise-describes-list">
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Burned calories:</p>
                  <p class="exercise-describing">312 / 3 min</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Body part:</p>
                  <p class="exercise-describing">Waist</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Target:</p>
                  <p class="exercise-describing">Abs</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="exercise-parts">
            <div class="part-container">
              <div class="exercise-head-container">
                <span class="exercise-badge">WORKOUT</span>
                <span class="exercise-part-rating">
                  <p class="exercise-rating-number">4.0</p>
                  <svg class="exercise-rating-icon" width="18" height="18">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </span>
                <button class="exercise-part-button">Start</button>
              </div>
              <!-- <svg class="exercise-btn-icon">
                <use href="../img/icons.svg#icon-arrow-right"></use>
              </svg> -->
              <span class="exercise-part-name">
                <svg class="exercise-part-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-running-man"></use>
                </svg>
                <p class="exercise-name-text">Air bike</p>
              </span>
              <ul class="exercise-describes-list">
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Burned calories:</p>
                  <p class="exercise-describing">312 / 3 min</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Body part:</p>
                  <p class="exercise-describing">Waist</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Target:</p>
                  <p class="exercise-describing">Abs</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="exercise-parts">
            <div class="part-container">
              <div class="exercise-head-container">
                <span class="exercise-badge">WORKOUT</span>
                <span class="exercise-part-rating">
                  <p class="exercise-rating-number">4.0</p>
                  <svg class="exercise-rating-icon" width="18" height="18">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </span>
                <button class="exercise-part-button">Start</button>
              </div>
              <!-- <svg class="exercise-btn-icon">
                <use href="../img/icons.svg#icon-arrow-right"></use>
              </svg> -->
              <span class="exercise-part-name">
                <svg class="exercise-part-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-running-man"></use>
                </svg>
                <p class="exercise-name-text">Air bike</p>
              </span>
              <ul class="exercise-describes-list">
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Burned calories:</p>
                  <p class="exercise-describing">312 / 3 min</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Body part:</p>
                  <p class="exercise-describing">Waist</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Target:</p>
                  <p class="exercise-describing">Abs</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="exercise-parts">
            <div class="part-container">
              <div class="exercise-head-container">
                <span class="exercise-badge">WORKOUT</span>
                <span class="exercise-part-rating">
                  <p class="exercise-rating-number">4.0</p>
                  <svg class="exercise-rating-icon" width="18" height="18">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </span>
                <button class="exercise-part-button">Start</button>
              </div>
              <!-- <svg class="exercise-btn-icon">
                <use href="../img/icons.svg#icon-arrow-right"></use>
              </svg> -->
              <span class="exercise-part-name">
                <svg class="exercise-part-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-running-man"></use>
                </svg>
                <p class="exercise-name-text">Air bike</p>
              </span>
              <ul class="exercise-describes-list">
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Burned calories:</p>
                  <p class="exercise-describing">312 / 3 min</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Body part:</p>
                  <p class="exercise-describing">Waist</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Target:</p>
                  <p class="exercise-describing">Abs</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="exercise-parts">
            <div class="part-container">
              <div class="exercise-head-container">
                <span class="exercise-badge">WORKOUT</span>
                <span class="exercise-part-rating">
                  <p class="exercise-rating-number">4.0</p>
                  <svg class="exercise-rating-icon" width="18" height="18">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </span>
                <button class="exercise-part-button">Start</button>
              </div>
              <!-- <svg class="exercise-btn-icon">
                <use href="../img/icons.svg#icon-arrow-right"></use>
              </svg> -->
              <span class="exercise-part-name">
                <svg class="exercise-part-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-running-man"></use>
                </svg>
                <p class="exercise-name-text">Air bike</p>
              </span>
              <ul class="exercise-describes-list">
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Burned calories:</p>
                  <p class="exercise-describing">312 / 3 min</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Body part:</p>
                  <p class="exercise-describing">Waist</p>
                </li>
                <li class="exercise-describe">
                  <p class="exercise-describe-category">Target:</p>
                  <p class="exercise-describing">Abs</p>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <ul class="exercise-pages-counter">
          <li class="exercise-page-number">
            <button class="exercise-number-button">1</button>
          </li>
          <li class="exercise-page-number">
            <button class="exercise-number-button">2</button>
          </li>
          <li class="exercise-page-number">
            <button class="exercise-number-button">3</button>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
