<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnergyFlow</title>
    <link rel="stylesheet" href="../css/layout/favorites.css" />
  </head>
  <body>
    <section class="favorites container">
      <h2 class="topic">Favorites</h2>
      <ul class="list">
          <li class="list-item">
            <ul class="nav-list">
              <li class="nav-list-item">
      <span class="workout">WORKOUT</span>
      <svg class="basket-icon" width="30" height="30">
        <use href="./img/icons.svg#icon-trash"></use>
      </svg>
              </li>
      
              <li class="nav-list-item">
      <a href="#" class="arrow-link">
              <span class="start-link">Start</span>
                  <svg class="arrow-icon" width="14" height="14">
                    <use href="./img/icons.svg#icon-arrow-right"></use>
                  </svg>
            </a>
              </li>
            </ul>
            <div class="bike">
              <svg class="arrow-icon" width="14" height="14">
                <use href="./img/icons.svg#icon-running-man"></use>
              </svg>
              <span class="air-bike">Air bike</span>
            </div>
            
            <ul class="char-list">
              <li>
      <span class="char-item">Burned calories:${}</span>
              </li>
      
              <li>
      <span class="char-item">Body part:${}</span>
              </li>
      
              <li>
      <span class="char-item">Target: ${}</span>
              </li>
            </ul>
          </li>
      </ul>
      </section>
  </body>
