<footer class="footer-section section">
  <div class="footer-container">
    <div class="footer-main-wrapper">
      <div class="footer-first-half-wrapper">
        <a class="footer-logo" href="./index.html">energy.flow</a>

        <ul class="sm-list">
          <li class="sm-list-item">
            <a
              class="sm-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="sm-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="sm-list-item">
            <a
              class="sm-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="sm-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="sm-list-item">
            <a
              class="sm-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="sm-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-second-half-wrapper">
        <p class="footer-text">
          Transforming your <span class="footer-text-accent">body</span> shape
          with us
        </p>
        <div class="form-container">
          <p class="footer-form-text">
            Subscribe and learn about new exercises!
          </p>
          <form class="subs-form">
            <input
              class="subs-input"
              type="email"
              placeholder="Email"
              name="email"
              required
            />
            <button class="footer-form-btn" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="copywrite-wrapper">
      <p class="copywrite-text">Energy Flow. All rights reserved.</p>
      <div class="pp-wrapper">
        <a href="">Privacy Policy</a>
        <span>/</span>
        <a href="">Terms of Service</a>
      </div>
    </div>
  </div>
  <div class="our-stars">
    <p class="footer-text-team">
      Created with
      <svg
        class="footer-icon-team"
        width="16"
        height="16"
        aria-label="icon heart"
      >
        <use href="./img/icons.svg#icon-heart" />
      </svg>
    </p>
    <p class="footer-text-team">
      Developed by
      <a class="footer-team-link" href="">GoIT Students</a>
    </p>
  </div>

  <!-- Modal -->
  <!-- <div class="footer-modal-backdrop visually-hidden">
    <div class="our-team-footer-card">
      <button class="pop-ex-close-btn">
        <svg
          class="pop-ex-close-btn-icon"
          width="24"
          height="24"
          aria-label="close icon"
        >
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="footer-team-list">
        <li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Elizabeth.jpg"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Elizabeth</h3>
            <p class="team-member-role">Pixel Poet (dev)</p>
            <a href="https://github.com/ElizabethBil">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              ElizabethBil
            </a>
            <a href="https://www.linkedin.com/in/elizabeth-bilan-8a4673291/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Elizabeth Bilan
            </a>
          </div>
        </li>
        <li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Diana.jpg"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Diana</h3>
            <p class="team-member-role">Algorithmic Maestro (dev)</p>
            <a href="https://github.com/miyu-di">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              miyu-di
            </a>
            <a href="https://www.linkedin.com/in/diana-yavchuk-20a8802b1/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Diana Yavchuk
            </a>
          </div>
        </li><li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Volodymyr.jpg"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Volodymyr</h3>
            <p class="team-member-role">Coding Ninja (dev)</p>
            <a href="https://github.com/byvova">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              byvova
            </a>
            <a href="https://www.linkedin.com/in/volodymyr-hrushetskiy-441b21295/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Volodymyr Hrushetskiy
            </a>
          </div>
        </li>
        <li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Iryna.jpg"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Iryna</h3>
            <p class="team-member-role">Creative Expert (dev)</p>
            <a href="https://github.com/IrynaYevcheva">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              IrynaYevcheva
            </a>
            <a href="https://www.linkedin.com/in/tetiana-zabolotnia/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Yevcheva Iryna
            </a>
          </div>
        </li>
        <li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src=""
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Anastasia</h3>
            <p class="team-member-role">Tech Virtuoso(dev)</p>
            <a href="hhttps://github.com/vnstyv">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              vnstyv
            </a>
            <a href="https://www.linkedin.com/in/анастасия-романюк-79856b2b1/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Анастасия Романюк
            </a>
          </div>
        </li>
        <li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Nazar.jpg"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Nazar</h3>
            <p class="team-member-role">Scripting Sage (dev)</p>
            <a href="https://github.com/Nazar-Kotiv">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              Nazar-Kotiv
            </a>
            <a href="https://www.linkedin.com/in/назар-kotiv-2b25702b1/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
               Назар Kotiv
            </a>
          </div>
        </li><li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Petro.jpg"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Petro</h3>
            <p class="team-member-role">Development Whiz (dev)</p>
            <a href="https://github.com/Petro-Gunko">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              Petro-Gunko
            </a>
            <a href="https://www.linkedin.com/in/petro-hunko-39b4962ab/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Petro Hunko
            </a>
          </div>
        </li>
        <li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Artem.jpg"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Artem</h3>
            <p class="team-member-role">Programming Savant (dev)</p>
            <a href="https://github.com/artem05111">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              artem05111
            </a>
            <a href="https://www.linkedin.com/in/артем-підгорний-6883942b1/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Артем Підгорний
            </a>
          </div>
        </li><li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Sergiy.jpg"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Sergiy</h3>
            <p class="team-member-role">Scheduling Guru (Scrum)</p>
            <a href="https://github.com/serhiyserhiychuk">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              serhiyserhiychuk
            </a>
            <a href="https://www.linkedin.com/in/sergiychuksergiy/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Sergiy Sergiychuk
            </a>
          </div>
        </li><li class="footer-team-list-item">
          <img
            class="footer-team-member-img"
            src="./img/our-team/Tetiana.JPG"
            width="164"
            alt="photo of team member"
          />
          <div class="footer-team-member-info">
            <h3 class="footer-team-member-name">Tetiana</h3>
            <p class="team-member-role">Just Team Lead</p>
            <a href="https://github.com/TetiZ">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="github icon"
              >
                <use href="./img/icons.svg#icon-github" />
              </svg>
              TetiZ
            </a>
            <a href="https://www.linkedin.com/in/tetiana-zabolotnia/">
              <svg
                class="team-sm-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./img/icons.svg#icon-linkedin" />
              </svg>
              Tetiana Zabolotnia
            </a>
          </div>
        </li>
        </li>
      </ul>
    </div>
  </div> -->
</footer>
