<footer class="footer-section">
  <div class="container">
    <a href="./index.html">energy.flow</a>

    <ul class="sm-list">
      <li class="sm-list-item">
        <a class="sm-link" href="https://www.facebook.com/goITclub/">
          <svg class="sm-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="sm-list-item">
        <a class="sm-link" href="https://www.instagram.com/goitclub/">
          <svg class="sm-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="sm-list-item">
        <a class="sm-link" href="https://www.youtube.com/c/GoIT">
          <svg class="sm-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="form-container">
      <p class="footer-text">
        Transforming your <span>body</span>shape with us
      </p>
      <p class="footer-form-text">Subscribe and learn about new exercises!</p>
      <form class="subs-form">
        <input class="subs-input" type="email" placeholder="Email" required />
        <button class="footer-form-btn" type="submit">Send</button>
      </form>
    </div>

    <div class="copywrite-wrapper">
      <p class="copywrite-text">Energy Flow. All rights reserved.</p>
      <div class="pp-wrapper">
        <a href="">Privacy Policy</a>
        <span>/</span>
        <a href="">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
