<header class="header-section">
  <div class="heder-items container">
    <a class="heder-logo" href="./index.html">energy.flow</a>
    <!-- NAVIGATION HEDER -->
    <nav class="heder-nav">
      <ul class="heder-nav-list">
        <li class="heder-nav-link-item">
          <a class="heder-nav-link-active" id="Home" href="./index.html"
            >Home</a
          >
        </li>
        <li class="heder-nav-link-item">
          <a class="" id="Favorites" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>
    <!-- SOCIAL LINKS HEDER -->

    <ul class="heder-link-list">
      <li class="heder-link-item">
        <a
          class="heder-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg
            class="heder-link-icon"
            width="28"
            height="28"
            aria-label="facebook icon"
          >
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="heder-link-item">
        <a
          class="heder-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg
            class="heder-link-icon"
            width="28"
            height="28"
            aria-label="instagram icon"
          >
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="heder-link-item">
        <a
          class="heder-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg
            class="heder-link-icon"
            width="28"
            height="28"
            aria-label="youtube icon"
          >
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- BUTTON MOBILE MENU -->
    <button class="mobile-menu-open-button js-open-menu" type="button">
      <svg
        class="mobile-menu-open-icon"
        width="32"
        height="16"
        aria-label="mobile menu open icon"
      >
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
