<div class="pop-backdrop backdrop is-open">
  <form class="pop-up-rating">
    <button class="pop-up-close-btn js-close-pop-up" type="button">
      <svg class="pop-up-close-btn-icon">
        <use href="../img/icons.svg#icon-close" width="24" height="24"></use>
      </svg>
    </button>
    <p class="pop-up-title-rating">Rating</p>
    <ul class="pop-up-stars-list">
      <span class="pop-up-rating-value">0.0</span>
      <li class="pop-up-stars-item">
        <svg class="pop-up-star-icon">
          <use href="../img/icons.svg#icon-star" width="24" height="24"></use>
        </svg>
      </li>
      <li class="pop-up-stars-item">
        <svg class="pop-up-star-icon">
          <use href="../img/icons.svg#icon-star" width="24" height="24"></use>
        </svg>
      </li>
      <li class="pop-up-stars-item">
        <svg class="pop-up-star-icon">
          <use href="../img/icons.svg#icon-star" width="24" height="24"></use>
        </svg>
      </li>
      <li class="pop-up-stars-item">
        <svg class="pop-up-star-icon">
          <use href="../img/icons.svg#icon-star" width="24" height="24"></use>
        </svg>
      </li>
      <li class="pop-up-stars-item">
        <svg class="pop-up-star-icon">
          <use href="../img/icons.svg#icon-star" width="24" height="24"></use>
        </svg>
      </li>
    </ul>
    <label class="pop-up-field">
      <input class="pop-up-input-email" type="email" placeholder="Email" />
    </label>
    <label class="pop-up-field">
      <textarea
        class="pop-up-message"
        name="User comment"
        rows="4"
        placeholder="Your comment"
      ></textarea>
    </label>
    <button class="pop-up-send-btn" type="submit">Send</button>
  </form>
</div>
