<div class="backdrop">
  <form class="pop-up-rating">
    <button class="pop-up-close-btn" type="button">
      <svg class="pop-up-close-btn-icon">
        <use href="../img/icons.svg#icon-close" width="12" height="12"></use>
      </svg>
    </button>
    <p class="pop-up-title-rating">Rating</p>
    <span class="pop-up-rating-value">0.0</span>
    <label class="pop-up-field">
      <input class="pop-up-input-email" type="email" placeholder="Email" />
    </label>
    <label class="pop-up-field">
      <textarea
        class="pop-up-message"
        name="User comment"
        rows="4"
        placeholder="Your comment"
      ></textarea>
    </label>
    <button class="pop-up-send-btn" type="submit">Send</button>
  </form>
</div>
