<section class="quote-section">
  <div class="container quote-of-the-container">
    <div class="quote-box-text">
      <div class="quote-box">
        <div class="quote-runner-svg">
          <svg width="34" height="32">
            <use
              class="runner-svg"
              href="./img/icons.svg#icon-running-man"
            ></use>
          </svg>
        </div>

        <div class="quote-inverted-commas-svg">
          <svg width="34" height="32">
            <use
              class="inverted-commas-svg"
              href="./img/icons.svg#icon-inverted-commas"
            ></use>
          </svg>
        </div>

        <h2 class="quote-title">Quote of the day</h2>
      </div>

      <p class="quote-text">
      </p>
      <p class="quote-author"></p>
    </div>

    <img
      class="quote-img"
      srcset="
        ./img/quote/quote-girl-desktop.jpg     704w,
        ./img/quote/quote-girl-desktop@2x.jpg 1408w,
        ./img/quote/quote-girl-tablet.jpg      736w,
        ./img/quote/quote-girl-tablet@2x.jpg  1472w,
        ./img/quote/quote-girl-mobile.jpg      335w,
        ./img/quote/quote-girl-mobile@2x.jpg   670w
      "
      src="./img/quote/quote-girl-mobile.jpg"
      sizes="(min-width:
    1440px) 704px, (min-width: 768px) 736px, (max-width: 375px) 335px"
      alt="picture of press"
    />
  </div>
</section>
