<section class="quote-section">
  <div class="container quote-of-the-container">
    <div class="quote-runner-svg">
      <svg width="34" height="32">
        <use
          class="runner-svg"
          href="/src/img/icons.svg#icon-running-man"
        ></use>
      </svg>
    </div>

    <div class="quote-inverted-commas-svg">
      <svg width="34" height="32">
        <use
          class="inverted-commas-svg"
          href="/src/img/icons.svg#icon-inverted-commas"
        ></use>
      </svg>
    </div>

    <div class="quote-box">
      <h2 class="quote-title">Quote of the day</h2>

      <p class="quote-text"></p>
      <p class="quote-author"></p>
    </div>
  </div>
  <div class="quote-img-box"></div>
  <img class="" srcset="" src="" sizes="" alt="" />
</section>
